<!--
    ==========================================================================
    About Page
    --------------------------------------------------------------------------
    - Display diagnostic information about the application
    - Display the status of the services
    ==========================================================================
-->

{% extends "base.html" %}
{% block content %}
<h1>About</h1>

<!--
    ==========================================================================
    Table of information
    --------------------------------------------------------------------------
    - Python Version
    - Flask Version
    - Flask Debug Mode (True/False)
    ==========================================================================
-->
<div class="w3-container w3-responsive w3-card w3-padding-16">
    <h3>Application Information</h3>
    <table class="w3-table w3-striped">
        <tr>
            <th>Python version</th>
            <td>{{ python_version }}</td>
        </tr>
        <tr>
            <th>Flask version</th>
            <td>{{ flask_version }}</td>
        </tr>
        <tr>
            <th>Flask Debug mode</th>
            <td>{{ debug_mode }}</td>
        </tr>
    </table>
</div>
</br>

<!--
    ==========================================================================
    Azure Service Account Status
    --------------------------------------------------------------------------
    - Shows the login status of the Azure service account
    ==========================================================================
-->
<div class="w3-container w3-responsive w3-card w3-padding-16">
    <h3>Azure Service Account Status</h3>
    
    <!-- Table to show status -->
    <table class="w3-table w3-striped">
        <tr>
            <th>Service Account</th>
            <td>{{ service_account }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
                {% if logged_in %}
                    <span class="w3-badge w3-green">↑</span>
                {% else %}
                    <span class="w3-badge w3-red">↓</span>
                {% endif %}
            </td>
        </tr>
    </table>

    <!-- Button to log in if not logged in -->
    {% if not logged_in %}
        <button class="w3-button w3-green" onclick="window.location.href='/login?prompt=login';"">Log in Account</button>
    {% endif %}
</div>
<br>


<!--
    ==========================================================================
    Service Status
    --------------------------------------------------------------------------
    - Web Interface
    - Security
    - Logging
    - SQL
    - Teams
    --------------------------------------------------------------------------
    Contains:
    - Service: The name of the service
    - Version: The version of the service
    - Status: The status of the service (up or down) as a badge (traffic light)
    ==========================================================================
-->
<div class="w3-container w3-responsive w3-card w3-padding-16">
    <h3>Service Status</h3>
    <p><i>Dummy data at this time</i></p>
    <table class="w3-table w3-striped">
        <tr>
            <th>Service</th>
            <th>Version</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>Web Interface</td>
            <td>0.0.0</td>
            <td>
                <span class="w3-badge w3-green">↑</span>
            </td>
        </tr>
        <tr>
            <td>Security</td>
            <td>0.0.0</td>
            <td>
                <span class="w3-badge w3-green">↑</span>
            </td>
        </tr>
        <tr>
            <td>Logging</td>
            <td>0.0.0</td>
            <td>
                <span class="w3-badge w3-green">↑</span>
            </td>
        </tr>
        <tr>
            <td>SQL</td>
            <td>0.0.0</td>
            <td>
                <span class="w3-badge w3-green">↑</span>
            </td>
        </tr>
        <tr>
            <td>Teams</td>
            <td>0.0.0</td>
            <td>
                <span class="w3-badge w3-green">↑</span>
            </td>
        </tr>
    </table>
</div>
{% endblock %}