<!--
    ==========================================================================
    Configuration Page
    --------------------------------------------------------------------------
    - Configure the application as a whole
    - Cards for each category of configuration
    --------------------------------------------------------------------------
    Categories:
    - Azure
    - Authentication
    - Teams
    - SQL
    - Web
    ==========================================================================
-->

{% extends "base.html" %}


{% block content %}

<!--
    ==========================================================================
    Scripts
    --------------------------------------------------------------------------
    saveconfig.js:
        - Collects configuration data from the form
        - Sends the data to the web interface

    masksecret.js:
        - Toggles visibility of secret input fields
        - Masks the secret input fields
    ==========================================================================
-->
<script src="{{ url_for('static', filename='js/saveconfig.js') }}"></script>
<script src="{{ url_for('static', filename='js/masksecret.js') }}"></script>


<div id="config-message" style="display:none;position:fixed;top:20px;left:50%;transform:translateX(-50%);z-index:9999;min-width:200px;text-align:center;padding:12px 24px;border-radius:6px;font-weight:bold;font-size:1.1em;"></div>
<h1>Configuration</h1>
</br>

<!--
    ==========================================================================
    Azure
    --------------------------------------------------------------------------
    Tenant ID - The ID of the Azure tenant
    ==========================================================================
-->
<div class="w3-responsive w3-card-4">
    <!-- General Azure  -->
    <header class="w3-container w3-light-grey">
        <h3>Azure</h3>
    </header>

    <form id="azure-form" class="w3-container w3-padding-16">
        <!-- Tenant ID - String -->
        <label>
            Tenant ID
            <p class="w3-small w3-text-grey">Azure Tenant ID (used with Auth and Teams)</p>
            <input class="w3-input w3-border" type="text" name="tenant_id"
                value="{{ config['azure']['tenant-id'] if config['azure']['tenant-id'] is defined else '' }}" required>
        </label>
    </form>

    <!-- Save button -->
    <button class="w3-button w3-green w3-block" name="azure_save" onclick="saveConfig('azure-form')">Save</button>
</div>
</br></br>


<!--
    ==========================================================================
    Authentication
    --------------------------------------------------------------------------
    app-id - The ID of the Azure application for authentication
    app-secret - The encrypted secret
    salt - The salt for the encrypted secret
    redirect-uri - The URL to redirect to after authentication
    admin-group - The Azure group ID for admin users
    ==========================================================================
-->
<div class="w3-responsive w3-card-4">
    <!-- Azure - Authentication -->
    <header class="w3-container w3-light-grey">
        <h3>Authentication</h3>
    </header>

    <form id="auth-form" class="w3-container w3-padding-16">
        <!-- App ID - String -->
        <label>
            App ID
            <p class="w3-small w3-text-grey">App ID for authentication. May be different from the Teams app</p>
            <input class="w3-input w3-border w3-padding" type="text" name="auth_app_id"
                value="{{ config['authentication']['app-id'] if config['authentication']['app-id'] is defined else '' }}" required>
        </label>
        <br>

        <!-- App Secret - The secret for the azure app - This gets encrypted -->
        <label>
            App Secret
            <p class="w3-small w3-text-grey">Plaintext can be added here. This will be encrypted and will update the salt</p>
            <div style="display: flex; align-items: center;">
                <input class="w3-input w3-border" type="password" placeholder="App Secret" name="auth_app_secret" id="auth-app-secret"
                    value="{{ config['authentication']['app-secret'] if config['authentication']['app-secret'] is defined else '' }}" required>
                <button type="button" class="w3-button w3-light-grey w3-margin-left" onclick="toggleSecretVisibility('auth-app-secret', this)">
                    <i class="fa fa-eye"></i>
            </div>
        </label>
        <br>

        <!-- Salt - The salt for the encrypted secret -->
        <input type="hidden" name="auth_salt"
            value="{{ config['authentication']['salt'] if config['authentication']['salt'] is defined else '' }}">

        <!-- Redirect URI - The URL to redirect to after authentication -->
        <label>
            Redirect URI
            <p class="w3-small w3-text-grey">The callback URL that Azure calls during authentication</p>
            <input class="w3-input w3-border" type="text" name="auth_redirect_uri"
                value="{{ config['authentication']['redirect-uri'] if config['authentication']['redirect-uri'] is defined else '' }}" required>
        </label>
        <br>

        <!-- Admin Group - The Azure group ID for admin users -->
        <label>
            Admin Group
            <p class="w3-small w3-text-grey">The group in Azure that can access this app</p>
            <input class="w3-input w3-border" type="text" name="auth_admin_group"
                value="{{ config['authentication']['admin-group'] if config['authentication']['admin-group'] is defined else '' }}" required>
        </label>
        <br>
    </form>

    <!-- Save button -->
    <button class="w3-button w3-green w3-block" name="auth_save" onclick="saveConfig('auth-form')">Save</button>
</div>
</br></br>


<!--
    ==========================================================================
    Teams
    --------------------------------------------------------------------------
    app-id - The ID of the Azure application for Teams
    app-secret - The encrypted secret
    salt - The salt for the encrypted secret
    base-url - The base URL for the Teams application
    user - The bot's user name
    user-id - The bot's user ID
    public-key - The public key file
    private-key - The private key file
    ==========================================================================
-->
<div class="w3-responsive w3-card-4">
    <!-- Azure - Teams -->
    <header class="w3-container w3-light-grey">
        <h3>Teams</h3>
    </header>

    <form id="teams-form" class="w3-container w3-padding-16">
        <!-- App ID -->
        <label>
            App ID
            <p class="w3-small w3-text-grey">The ID for the Teams app. This may be different to the authentication app</p>
            <input class="w3-input w3-border w3-padding" type="text" name="teams_app_id"
                value="{{ config['teams']['app-id'] if config['teams']['app-id'] is defined else '' }}">
        </label>
        <br>

        <!-- App Secret - The secret for the azure app - This gets encrypted -->
        <label>
            App Secret
            <p class="w3-small w3-text-grey">Enter in plain text. This will be encrypted and the salt will be updated</p>
            <div style="display: flex; align-items: center;">
                <input class="w3-input w3-border" type="password" name="teams_app_secret" id="teams-app-secret"
                    value="{{ config['teams']['app-secret'] if config['teams']['app-secret'] is defined else '' }}">
                <button type="button" class="w3-button w3-light-grey w3-margin-left" onclick="toggleSecretVisibility('teams-app-secret', this)">
                    <i class="fa fa-eye"></i>
            </div>
        </label>
        <br>

        <!-- Salt - The salt for the encrypted secret -->
        <input type="hidden" name="teams_salt"
            value="{{ config['teams']['salt'] if config['teams']['salt'] is defined else '' }}">
        <br>

        <!-- User Name - The user name of the chat bot -->
        <label>
            User Name
            <p class="w3-small w3-text-grey">The user name for the chatbot</p>
            <input class="w3-input w3-border" type="text" name="teams_user_name"
                value="{{ config['teams']['user'] if config['teams']['user'] is defined else '' }}">
        </label>
        <br>

        <!-- Public Key - Public Key file for chats -->
        <label>
            Public Key (file)
            <p class="w3-small w3-text-grey">The filename for the public key. Used when sending/receiving messages</p>
            <input class="w3-input w3-border" type="text" name="teams_public_key"
                value="{{ config['teams']['public-key'] if config['teams']['public-key'] is defined else '' }}">
        </label>
        <br>

        <!-- Private Key - Private Key file for chats -->
        <label>
            Private Key (file)
            <p class="w3-small w3-text-grey">The filename for the private key. Corresponds to the public key</p>
            <input class="w3-input w3-border" type="text" name="teams_private_key"
                value="{{ config['teams']['private-key'] if config['teams']['private-key'] is defined else '' }}">
        </label>
        <br>
    </form>

    <!-- Save button -->
    <button class="w3-button w3-green w3-block" name="teams_save" onclick="saveConfig('teams-form')">Save</button>
</div>
</br></br>



<!--
    ==========================================================================
    SQL
    --------------------------------------------------------------------------
    server - The SQL server name or IP
    port - The SQL server port
    database - The SQL database name
    user - The SQL user name
    password - The SQL user password
    salt - The salt for the encrypted password
    ==========================================================================
-->
<div class="w3-responsive w3-card-4">
    <!-- SQL -->
    <header class="w3-container w3-light-grey">
        <h3>SQL Database</h3>
    </header>

    <form id="sql-form" class="w3-container w3-padding-16">
        <!-- Server -->
        <label>
            Server
            <p class="w3-small w3-text-grey">SQL server name</p>
            <input class="w3-input w3-border w3-padding" type="text" name="sql_server"
                value="{{ config['sql']['server'] if config['sql']['server'] is defined else '' }}">
        </label>
        <br>

        <!-- Port -->
        <label>
            Port
            <p class="w3-small w3-text-grey">SQL server port</p>
            <input class="w3-input w3-border w3-padding" type="text" name="sql_port"
                value="{{ config['sql']['port'] if config['sql']['port'] is defined else '' }}">
        </label>
        <br>

        <!-- Database -->
        <label>
            Database
            <p class="w3-small w3-text-grey">Database name</p>
            <input class="w3-input w3-border w3-padding" type="text" name="sql_database"
                value="{{ config['sql']['database'] if config['sql']['database'] is defined else '' }}">
        </label>
        <br>

        <!-- Username (Service Account) -->
        <label>
            Username
            <p class="w3-small w3-text-grey">Service Account that can access the database</p>
            <input class="w3-input w3-border w3-padding" type="text" name="sql_username"
                value="{{ config['sql']['username'] if config['sql']['username'] is defined else '' }}">
        </label>
        <br>

        <!-- Password - This will be encrypted -->
        <label>
            Password
            <p class="w3-small w3-text-grey">Enter in plain text. This will be encrypted and the salt will be updated</p>
            <div style="display: flex; align-items: center;">
                <input class="w3-input w3-border w3-padding" type="password" name="sql_password" id="sql_password"
                    value="{{ config['sql']['password'] if config['sql']['password'] is defined else '' }}">
            <button type="button" class="w3-button w3-light-grey w3-margin-left" onclick="toggleSecretVisibility('sql_password', this)">
                <i class="fa fa-eye"></i>
            </div>
        </label>
        <br>

        <!-- Salt - Goes with encrypted password -->
        <input type="hidden" name="sql_salt"
            value="{{ config['sql']['salt'] if config['sql']['salt'] is defined else '' }}">
    </form>

    <!-- Save button -->
    <button class="w3-button w3-green w3-block" name="sql_save" onclick="saveConfig('sql-form')">Save</button>
</div>
</br></br>


<!--
    ==========================================================================
    Web
    --------------------------------------------------------------------------
    Debug - Enable or disable flask debug mode
    ==========================================================================
-->
<div class="w3-responsive w3-card-4">
    <!-- Web interface settings  -->
    <header class="w3-container w3-light-grey">
        <h3>Web Interface</h3>
    </header>

    <form id="web-form" class="w3-container w3-padding-16">
        <!-- Logging level - debug, info, warning, error, critical -->
        <label>Logging Level</label>
        <p class="w3-small w3-text-grey">Sets the level of logging on the terminal and in Alerts</p>
        <select class="w3-select" name="web_logging_level" style="width: auto;">
            {% set levels = ['debug', 'info', 'warning', 'error', 'critical'] %}
            {% set current_level = config['web']['logging-level'] %}
            {% for level in levels %}
                <option value="{{ level }}"
                    {% if current_level == level %}selected{% endif %}>
                    {{ level|capitalize }}
                </option>
            {% endfor %}
            {% if current_level not in levels %}
                <option value="" selected disabled>-- Select --</option>
            {% endif %}
        </select>
        {% if current_level not in levels %}
            <span title="Invalid logging level" style="color: #e53935; margin-left: 8px;">
                <i class="fa fa-exclamation-triangle"></i>
            </span>
        {% endif %}
    </form>

    <!-- Save button -->
    <button class="w3-button w3-green w3-block" name="web_save" onclick="saveConfig('web-form')">Save</button>
</div>
</br></br>
{% endblock %}