<!--
    ==========================================================================
    Plugins Page
    --------------------------------------------------------------------------
    - Register a new plugin
    - Display the currently registered plugins
    - Configure and remove buttons for each plugin
    ==========================================================================
-->

{% extends "base.html" %}
{% block content %}
<h1>Plugins</h1>

<!--
    ==========================================================================
    Button to register a new plugin
    --------------------------------------------------------------------------
    Future: Open a modal to register a new plugin
    ==========================================================================
-->
<div class="container w3-padding-32">
    <button class="w3-button w3-green">Register New Plugin</button>
</div>

<!--
    ==========================================================================
    Plugin Cards
    --------------------------------------------------------------------------
    Header: Plugin name
    Body: Plugin description, configure, and remove buttons
    Footer: Plugin version
    ==========================================================================
-->
{% for plugin in plugins %}
<div class="w3-card-4">
    <!-- Plugin Name as a header -->
    <header class="w3-container w3-light-grey">
        <h4>{{ plugin.name }}</h4>
    </header>

    <div class="w3-container w3-padding-16">
        <!-- Description as a paragraph -->
        <p>{{ plugin.description }}</p>

        <!-- Configure and Remove buttons -->
        <button class="w3-button w3-green" onclick="document.getElementById('modal-{{ loop.index }}').style.display='block'">Configure</button>
        <button class="w3-button w3-red">Remove</button>
    </div>

    <!-- Version as a footer -->
    <footer class="w3-container w3-light-grey">
        <p>Version 0.0.0</p>
    </footer>
</div>

<!-- 
    Modal for configuring the plugin
    Reamins hidden until the Configure button is clicked
-->
<div id="modal-{{ loop.index }}" class="w3-modal" style="display:none;">
  <div class="w3-modal-content w3-animate-top w3-card-4">
    
    <!-- Modal heading -->
    <header class="w3-container w3-light-grey">
      <span onclick="document.getElementById('modal-{{ loop.index }}').style.display='none'"
      class="w3-button w3-display-topright">&times;</span>
      <h3>{{ plugin.name }} Configuration</h3>
    </header>

    <!-- Configuration items -->
    <form class="w3-container w3-padding-16 w3-margin">
        <!-- Name -->
        <label><b>Plugin Name:</b></label>
        <input class="w3-input w3-border w3-margin" type="text" name="name" value="{{ plugin.name or '' }}">
        
        <!-- Description -->
        <label><b>Description:</b></label>
        <input class="w3-input w3-border w3-margin" type="text" name="description" value="{{ plugin.description or '' }}">
        
        <!-- Webhook - URL -->
        <label><b>Webhook URL:</b></label>
        <input class="w3-input w3-border w3-margin" type="text" name="url" value="{{ plugin.webhook.url or '' }}">
        
        <!-- Webhook - Secret -->
        <label><b>Webhook Secret:</b></label>
        <input class="w3-input w3-border w3-margin" type="text" name="secret" value="{{ plugin.webhook.secret or '' }}">
        
        <!-- Webhook - Allowed IPs -->
        <label><b>Webhook - Allowed Source IPs:</b></label>
        <input class="w3-input w3-border w3-margin" type="text" name="ip" value="{{ plugin.webhook['allowed-ip'] | join(',') or '' }}">
    </form>
    
    <!-- Modal footer - Save/Cancel buttons -->
    <footer class="w3-container w3-light-grey w3-padding-16">
      <button class="w3-button w3-green" type="submit">Save</button>
      <button class="w3-button w3-red" onclick="document.getElementById('modal-{{ loop.index }}').style.display='none'">Cancel</button>
    </footer>
  </div>
</div>

</br></br>
{% endfor %}

{% endblock %}